.editor {
    display: flex;
    flex-direction: column;
    height:100%;
}

.tabLine {
    display: flex;
    flex-direction: row;
    background-color: rgb(24,24,24);
}

.formationsTab{
 padding:15px;
}

.formationsListe{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 40px;
}

.card{
    display:flex;
    gap: 15px;
}
.years{
    display:flex;
    justify-content: flex-end;
    color:rgb(51,118,205);
}
.formation{
max-width: 600px;
}