/* Reset des marges et paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset des styles de texte */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Suppression des bordures sur les boutons et inputs */
button, input, textarea {
  border: none;
  outline: none;
  background: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: .8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
}

button{
  cursor: pointer;
  color:white;
}
.folderInNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.folderInNavIcon {
  width: 20px;
  height: 20px;
} 
.folderInNavContent{
  margin-left: 10px;
  padding-left: 10px;
  border-left: solid 1px grey;
}
.folderInNavContentItem{
  
}