/* Reset des marges et paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset des styles de texte */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  color: rgb(201, 201, 201);
}

/* Suppression des bordures sur les boutons et inputs */
button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(31, 31, 31);
  /* Fix white bar issue */
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  color: white;

}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  margin-bottom: .5rem;
}

h3 {
  font-size: .7rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
}

button {
  cursor: pointer;
  color: rgb(201, 201, 201);
}

.menuTitle {
  /* width: 200px; */
  white-space: nowrap;
  /* Empêche le retour à la ligne */
  overflow: hidden;
  /* Cache le texte débordant */
  text-overflow: ellipsis;
  /* Ajoute "..." */
}

.folderInNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.folderInNavIcon {
  width: 20px;
  height: 20px;
}

.folderInNavContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  padding-left: 10px;
  border-left: solid 1px grey;
}


.selectedFile {
  color: rgb(51, 118, 205);

}

.tab {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: solid 1px rgb(37, 37, 37);
  cursor: pointer;
  text-transform: capitalize;
}

.selectedTab {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: solid 1px rgb(37, 37, 37);
  border-top: solid 1px rgb(51, 118, 205);
  border-bottom: solid 1px transparent;
  cursor: pointer;
  text-transform: capitalize;
  background-color: rgb(31, 31, 31);
}

.selectedTextTab {
  color: rgb(51, 118, 205);
}

.editorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(31, 31, 31);
  overflow: auto;
}

.profilContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px;
  max-width: 800px;
  text-align: left;
}

.resizer {
  width: 6px;
  z-index: 5;
  cursor: ew-resize;
  /* Curseur de redimensionnement */
}

.resizerH {
  width: 100%;
  height: 6px;
  z-index: 5;
  cursor: row-resize;
  /* Curseur de redimensionnement */
}

.console {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.sendButton {
  background-color: rgb(51, 118, 205);
  padding: 10px;
}