
.section{
    display: flex;
    width:100vw;
    height:100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
.bgBlue{
  background-color: blue;
}


.bgRed{
  background-color: red;
}

.bgGreen{
  background-color: green;
}


.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}