.component {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  background-color: black;
  color:white;
  border:solid 1px white;
  padding: 4px;
  gap:4px;
}

.nav{
  border: solid 1px white;
  padding:20px;
}

.main{
  flex-direction: column;
  border: solid 1px white;
  padding:4px;
  flex-grow: 1;
  gap : 2px;
}

.editor{
  border: solid 1px white;
  flex-grow: 1;
}

.console{
  border: solid 1px white;
}